$container-max-widths: (
  sm: 538px,
  md: 540px,
  lg: 960px,
  xl: 1200px
);

$grid-breakpoints: (
  xs: 0,
  sm: 574px,
  md: 576px,
  lg: 990px,
  xl: 1480px
);


$graysh: #9ba5af;
$NAVBAR_H: 60px;
$SIDEBAR_W: 300px;
$GREENISH: #2ECC71;