@charset "UTF-8";
main.player {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

main.player .btn-check-fx {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 22px;
  height: 22px;
  border: solid 1px;
  border-radius: 100px;
  -webkit-transition: background linear 200ms;
  transition: background linear 200ms;
}

main.player .btn-check-fx svg {
  width: 12x;
  height: 12px;
  -webkit-transition: opacity linear 200ms;
  transition: opacity linear 200ms;
  opacity: 0;
  fill: red;
}

main.player .btn-check-fx.checked svg,
main.player .btn-check-fx:hover svg {
  opacity: 1;
}

main.player #sidebar {
  position: fixed;
  z-index: 99;
  top: 60px;
  bottom: 0;
  background: white;
  width: 300px;
  margin-left: 0;
  -webkit-transition: margin-left 220ms ease;
  transition: margin-left 220ms ease;
  border-right: solid 1px #DCE0E3;
  overflow-y: auto;
}

main.player #sidebar[disabled] {
  margin-left: -300px;
}

main.player #sidebar[disabled] + #area-content,
main.player #sidebar[mobile] + #area-content {
  margin-left: 0;
}

main.player #sidebar .navigation-header {
  display: block;
  padding: 15px 20px;
  border-bottom: solid 1px #E9EDF1;
  color: inherit;
}

main.player #sidebar .navigation-header h1 {
  font-size: 18px;
}

main.player #sidebar .navigation-header .info {
  font-size: 12px;
  color: #9ba5af;
}

main.player #sidebar .navigation-page-page {
  display: block;
  padding: 15px 20px;
  font-weight: 500;
  color: inherit;
  border-bottom: solid 1px #E9EDF1;
}

main.player #sidebar .navigation-page-page.current, main.player #sidebar .navigation-page-page:hover {
  cursor: pointer;
  background: #EAF4FB;
}

main.player #sidebar .navigation-module {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

main.player #sidebar .navigation-module:not([disabled]) .navigation-module-pages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main.player #sidebar .navigation-module .navigation-module-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 20px;
  cursor: pointer;
  border-bottom: solid 1px #E9EDF1;
}

main.player #sidebar .navigation-module .navigation-module-header .icon-state {
  -ms-flex-preferred-size: 30px;
      flex-basis: 30px;
}

main.player #sidebar .navigation-module .navigation-module-header .icon-state svg {
  fill: #81cfe0;
  margin-top: 3px;
  width: 19px;
  height: 18px;
}

main.player #sidebar .navigation-module .navigation-module-header .icon-state:hover svg {
  fill: #44b8d1;
}

main.player #sidebar .navigation-module .navigation-module-header .navigation-module-index {
  font-size: 12px;
  color: #9ba5af;
}

main.player #sidebar .navigation-module .navigation-module-header.muted h3 {
  color: #9ba5af;
}

main.player #sidebar .navigation-module .navigation-module-header.muted .icon-state svg {
  fill: #9ba5af;
}

main.player #sidebar .navigation-module .navigation-module-header h3 {
  color: #444444;
  font-size: 14px;
  line-height: 18px;
  margin: 0;
}

main.player #sidebar .navigation-module .navigation-module-pages {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main.player #sidebar .navigation-module .navigation-module-pages .navigation-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 12px 8px;
  padding-left: 30px;
  border-bottom: solid 1px #E9EDF1;
  color: inherit;
}

main.player #sidebar .navigation-module .navigation-module-pages .navigation-page .btn-check {
  border-color: #81cfe0;
}

main.player #sidebar .navigation-module .navigation-module-pages .navigation-page.current, main.player #sidebar .navigation-module .navigation-module-pages .navigation-page:hover {
  cursor: pointer;
  background: #EAF4FB;
}

main.player #sidebar .navigation-module .navigation-module-pages .navigation-page .btn-check.checked {
  background: #2ECC71;
  border-color: #2ECC71;
}

main.player #sidebar .navigation-module .navigation-module-pages .navigation-page .btn-check.checked svg {
  fill: white;
}

main.player #sidebar .navigation-module .navigation-module-pages .navigation-page-status {
  margin-right: 15px;
}

main.player footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 60px;
  padding: 20px 25px;
  background: #F7F7F7;
  color: #9ba5af;
  border-top: solid 1px #DCE0E3;
}

main.player footer blockquote {
  margin: 0;
  font-size: 13px;
}

main.player footer a {
  color: inherit;
  margin-right: 10px;
}

main.player footer svg {
  cursor: pointer;
}

main.player #area-content {
  -webkit-transition: margin-left 220ms ease;
  transition: margin-left 220ms ease;
  margin-left: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  overflow-y: auto;
}

main.player #area-content header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main.player #area-content header .nav-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 17px 20px;
  background: #F9F9F9;
  cursor: pointer;
  border-bottom: solid 1px #E9EDF1;
  color: #9ba5af;
}

main.player #area-content header .nav-btn.nav-btn-next {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

main.player #area-content header .nav-btn[disabled] {
  cursor: initial;
  color: rgba(128, 128, 128, 0.3);
  pointer-events: none;
}

main.player #area-content header .nav-btn[disabled] svg {
  fill: rgba(128, 128, 128, 0.3);
}

main.player #area-content header .nav-btn:first-child {
  border-right: solid 1px #E9EDF1;
}

main.player #area-content header .nav-btn:not(.disabled):hover {
  background: white;
  -webkit-transition: all linear 150ms;
  transition: all linear 150ms;
}

main.player #area-content header .nav-btn svg {
  width: 24px;
  height: 24px;
}

main.player #area-content header .nav-btn .txt-next-prev {
  margin: 0 15px;
}

main.player #area-content header .nav-btn .txt-next-prev .txt-label {
  font-size: 13px;
}

main.player #area-content header .nav-btn .txt-next-prev .txt-title {
  color: #444444;
}

@media (max-width: 600px) {
  main.player #area-content header .nav-btn .txt-next-prev .txt-title {
    display: none;
  }
}

main.player #area-content article blockquote {
  border-left: solid 5px silver;
  padding-left: 25px;
  font-size: 15px;
  color: #777777;
}

main.player #area-content article.lesson {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin-top: 50px;
}

main.player #area-content article.lesson h2 {
  margin: 0;
  margin: 20px 0;
  font-weight: 300;
}

main.player #area-content article.lesson #lesson video, main.player #area-content article.lesson #lesson .video-js {
  width: 100%;
  max-width: 100%;
}

main.player #area-content article.lesson #lesson .downloads {
  margin-bottom: 15px;
}

main.player #area-content article.lesson #lesson .downloads .title {
  color: #9ba5af;
  margin-bottom: 10px;
}

main.player #area-content article.lesson #lesson .downloads .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main.player #area-content article.lesson #lesson .downloads .wrap a {
  display: block;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
  color: inherit;
  width: 198px;
  margin-right: 15px;
}

main.player #area-content article.lesson #lesson .downloads .wrap a:hover {
  background: #fff;
  -webkit-box-shadow: 0 3px 8px 0 #dce0e3;
          box-shadow: 0 3px 8px 0 #dce0e3;
}

main.player #area-content article.lesson #lesson .downloads .wrap a .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #9ba5af;
  font-size: 12px;
  margin-top: 10px;
}

main.player #area-content article.lesson #meta {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

main.player #area-content article.lesson #meta .btn-wrap {
  margin-bottom: 15px;
}

main.player #area-content article.lesson #meta .btn-wrap-marcar .btn-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main.player #area-content article.lesson #meta .btn-main {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 14px 19px;
  border: solid 1px #E9EDF1;
  border-radius: 6px;
  -webkit-transition: background-color linear 150ms, border linear 150ms;
  transition: background-color linear 150ms, border linear 150ms;
  font-size: 15px;
  cursor: pointer;
}

main.player #area-content article.lesson #meta .btn-main.checked {
  background-color: #2ECC71;
  border-color: #2ECC71;
  color: white;
}

main.player #area-content article.lesson #meta #btn-marcar {
  max-width: 250px;
}

main.player #area-content article.lesson #meta #btn-marcar .btn-check {
  margin-right: 12px;
  border-color: #2ECC71;
}

main.player #area-content article.lesson #meta #btn-marcar .txt::after {
  display: block;
  content: "Marcar como concluída";
}

main.player #area-content article.lesson #meta #btn-marcar.checked .txt::after {
  display: block;
  content: "Concluída!";
}

main.player #area-content article.lesson #meta #btn-marcar.checked .btn-check {
  background: white !important;
}

main.player #area-content article.lesson #meta #btn-marcar.checked .btn-check svg {
  fill: #2ECC71;
}

main.player #area-content article.lesson #meta #btn-marcar:hover svg {
  opacity: 1;
}

@media (max-width: 1200px) {
  main.player #area-content article.lesson #meta #btn-marcar {
    max-width: none;
  }
}

@media (max-width: var(--breakpoint-md)) {
  main.player #area-content article.lesson #meta {
    padding-bottom: 30px;
  }
}

main.player #area-content article.lesson #meta #btn-notas svg {
  width: 18px;
}

main.player #area-content article.lesson #meta #area-stars svg {
  fill: none;
  stroke: black;
  stroke-width: 10px;
  margin-right: 5px;
}

main.player #area-content article.lesson #meta #area-stars svg:hover, main.player #area-content article.lesson #meta #area-stars svg.checked {
  fill: #f1c40f;
  stroke: #f1c40f;
  stroke-width: 10px;
  cursor: pointer;
}

main.player #area-content #dialog-shortcuts {
  display: none;
}
/*# sourceMappingURL=Player.css.map */